<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.common.testng.ExtentTestNGIReporterListener"/>
        <listener class-name="com.common.testng.TestResultListener"/>
    </listeners>
    <test verbose="1" preserve-order="true" name="ZSZC-autotest">
        <classes>
            <class name="com.test.demo.ZTJGTest">
                <methods>
<!--                    <include name="getTest"/>-->
                    <include name="queryWinningBidProjectTest"/>
<!--                    <include name="getWinningBidProjectTest"/>-->
<!--                    <include name="saveProjectTest"/>-->
<!--                    <include name="submitProjectTest"/>-->
<!--                    <include name="completeTest"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>